.container {
   display: flex;
   background-color: rgba(239, 241, 243, 1);
   justify-content: flex-start;
   align-items: baseline;
   width: 100%;
   height: 100%;
}

.userInfoMenu {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   width: 100%;
}
.cart {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

   padding-left: 5%;
   width: 320px;
}
.cart2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 5%;

   width: 320px;
}
@media screen and (max-width: 767.9px) {
   .container {
      position: relative;
      bottom: 0;
   }
   .userInfoMenu {
      padding-top: 40px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
   .container {
      background-image: url('./images/fone_userInfo.png');
      background-size: 80% auto;
      min-height: 300px;
   }
   .cart {
      width: 370px;
   }
   .cart2 {
      width: 370px;
   }
   .userInfoMenu {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0;

      padding-top: 91px;
   }
}
@media screen and (min-width: 1280px) {
   .container {
      padding-top: 90px;
      background: none;
      height: 100%;
      background-image: url('./images/fone_base.png');
      background-size: 120% 120%;
      flex: 1 0 40%;
   }
   .cart {
      padding: 0;
      justify-content: center;
      align-items: flex-start;
      width: 370px;
   }
   .cart2 {
      padding: 0;
      width: 370px;
      justify-content: center;
      align-items: flex-start;
   }
   .userInfoMenu {
      justify-content: flex-start;
      align-items: baseline;

      padding-top: 0px;
      padding-left: 90px;
   }
}
