.container {
   width: 320px;
   margin: 0 auto;
   background: rgba(240, 241, 243, 1);
}

.userInfoMenu {
   padding-left: 15px;
   padding-top: 40px;
   padding-bottom: 64px;
}

.titleThisTime {
   margin: 0;
   padding: 0;
   font-family: Verdana;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: rgb(33, 33, 33);
   padding-bottom: 20px;
}
.listCcal {
   margin: 0;
   padding: 0;
   list-style: none;
   height: 112px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 40px;
}

.cCalItem {
   width: 290px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: Verdana;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: rgb(155, 159, 170);
}
.notRecomendedProduct {
   composes: titleThisTime;
}
.yourDiet {
   width: 270px;
   font-family: Verdana;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: rgb(155, 159, 170);
}

@media (min-width: 768px) {
   .container {
      width: 768px;
      margin: 0;
   }

   .userInfoMenu {
      display: flex;
      justify-content: space-around;
      background-image: url('./images/fone_userInfo.png');
      background-size: 80% auto;
      background-position: 410px -115px;
      background-repeat: no-repeat;
      padding: 0;
      padding-top: 91px;
      margin: 0 auto;
   }
}
@media (min-width: 1280px) {
   .container {
      width: 535px;

      margin: 0;
   }

   .userInfoMenu {
      display: block;
      background: none;
      padding-left: 90px;
      padding-top: 50px;
      background-color: rgba(239, 241, 243, 1);
      background-image: url('./images/fone_base.png');
      background-size: 170% 100%;
      background-position: -127px -100px;
      background-repeat: no-repeat;
   }
   .listCcal {
      margin-bottom: 60px;
   }
   .notRecomendedProduct {
      margin-bottom: 22px;
   }
   .yourDiet {
   }
}
