.wrapper {
   width: 100%;
   height: 100%;
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 0 auto;
   padding-top: 40px;
   width: 100%;
}
.main {
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
}

@media screen and (max-width: 768px) {
   .container {
      justify-content: space-between;
      height: 100%;
   }
}

@media screen and (min-width: 768.1px) and (max-width: 1279.9px) {
   .container {
      justify-content: space-between;
      align-items: baseline;
      height: 100%;
      padding-top: 100px;
   }
   .main {
      justify-content: center;
      width: 100%;
      padding-bottom: 51px;
   }
}

@media screen and (min-width: 1280px) {
   .wrapper {
      min-height: 768px;
      background: linear-gradient(to right, hsla(0, 0%, 100%, 0) 60%, rgba(240, 241, 243, 1) 40%);
   }
   .container {
      justify-content: center;
      align-items: center;
      flex-direction: row;

      background-position: 100% 100%;
      background-repeat: no-repeat;
   }

   .main {
      justify-content: flex-end;
      align-items: flex-start;
      padding-top: 146px;
      width: 100%;
      height: 100%;
      flex: 1 0 60%;
   }
}
