.cCalItem {
   width: 290px;
   height: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;

   font-family: Verdana;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 27px;
   letter-spacing: 0.04em;

   color: rgb(155, 159, 170);
}

.cCalItem:last-child span:last-child {
   margin-right: 20px;
}
