.header,
.info,
.nav,
.logo {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.header {
   position: absolute;
   width: 100%;
   flex-wrap: wrap;
   z-index: 1;
}
.logo {
   padding-left: 15px;
}
.nav {
   width: 80%;
   order: 1;
}
.info {
   width: 100%;
   order: 2;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   .header {
      top: 17px;
      border-bottom: 2px solid #e0e0e0;
      justify-content: space-between;
   }
   .logo {
      padding-left: 69px;
   }
   .nav {
      flex: 1 0 40px;
      order: 2;
   }
   .info {
      flex: 4 0 230px;
      order: 1;
   }
}

@media screen and (min-width: 1024.1px) {
   .header {
      top: 82px;
      justify-content: center;
   }
   .logo {
      padding-left: 92px;
   }
   .nav {
      flex: 1 0 300px;
      order: 1;
   }
   .info {
      flex: 1 0 220px;
      order: 2;
   }
}
