.yourNormalCcal {
   margin: 0 auto;
   padding: 0;
   width: 290px;
   font-family: Verdana;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 26px;
   color: #212121;
   margin-bottom: 40px;
   padding-left: 15px;
}
.ccalSum {
   margin: 0 auto;
   font-family: Verdana;
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
   line-height: 58px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #264061;
   margin-bottom: 30px;
}
.ccalSum span {
   font-size: 16px;
}

.line {
   width: 290px;
   height: 1px;
   margin: 0 auto;
   background-color: #e0e0e0;
   margin-bottom: 20px;
}
.NotRecProduct_title {
   margin: 0;
   padding: 0;
   margin-bottom: 22px;
   font-family: Verdana;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: #212121;
   padding-left: 15px;
}
.NotRecProduct_list {
   margin: 0 auto;
   padding-left: 35px;
   font-family: Verdana;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: #9b9faa;
   margin-bottom: 40px;
}
.NotRecProduct_list_item {
   margin-bottom: 15px;
}
.NotRecProduct_list_item:last-child {
   margin-bottom: 0;
}

.btn_wrapper {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-bottom: 80px;
}

@media (min-width: 768px) {
   .yourNormalCcal {
      padding-top: 64px;
      width: 509px;
      text-align: center;
      font-size: 26px;
      line-height: 32px;
   }
   .line {
      width: 330px;
   }
   .NotRecProduct_title {
      margin: 0 auto;
      width: 330px;
      margin-bottom: 22px;
   }
   .NotRecProduct_list {
      width: 222px;
      padding: 0;
      padding-right: 50px;
      margin-bottom: 40px;
   }
   .btn_wrapper {
      margin-bottom: 68px;
   }
}
