html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Verdana, sans-serif;
   width: 100%;
   height: 100%;
}

a,
img,
main,
input,
::after,
::before {
   display: block;
}
body,
div,
header,
main,
footer,
section,
article,
h1,
h2,
h3,
p,
a,
ul,
ol,
li,
address,
img,
form,
input,
aside,
span {
   padding: 0;
   margin: 0;
   list-style: none;
   text-decoration: none;
   font-size: 100%;
   vertical-align: baseline;
   outline: none;
}
