.wrapper {
   position: relative;
   width: 100vw;
   height: 100vh;
}

.container {
   position: absolute;
   margin: 0 auto;
   padding-top: 120px;
   display: flex;
   justify-content: center;
   width: 100vw;
   z-index: 1;
}

.desctop_img,
.tablet_img {
   display: none;
}

@media screen and (min-width: 768.1px) {
   .container {
      padding-top: 270px;
      padding-left: 92px;
      justify-content: start;
   }
}

@media screen and (min-width: 768.1px) and (max-width: 1280px) {
   .tablet_img {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
   }
}

@media screen and (min-width: 1280.1px) {
   .container {
      padding-top: 362px;
      padding-left: 114px;
   }

   .desctop_img {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
   }
}
