.form {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
   padding-top: 80px;
}

.container {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dropdown {
   margin: 0;
   padding: 0;
   width: 240px;
   height: 35px;
   margin-bottom: 20px;
}

.dropdown::placeholder {
   font-family: Verdana;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: #9b9faa;
}

.btn_wrapper {
   display: flex;
   justify-content: center;
   width: 100%;
}

@media screen and (max-width: 768px) {
   .dropdown,
   .container input {
      width: 289px;
   }

   .container {
      margin-bottom: 48px;
   }
}

@media screen and (min-width: 768.1px) {
   .form {
      align-items: start;
      flex-direction: row;
   }

   .container {
      width: 380px;
      flex-direction: row;
      align-items: start;
      margin-right: 50px;
   }

   .dropdown {
      margin-right: 30px;
   }

   .container input:last-child {
      width: 104px;
   }

   .container input:last-child::placeholder {
      text-align: end;
   }

   .btn_wrapper {
      flex-direction: row;
      justify-content: flex-start;
   }

   .btn_wrapper button {
      width: 120px;
   }
}

@media screen and (min-width: 1024.1px) {
   .container {
      margin-right: 76px;
   }
}
