.button {
   display: block;
   margin: 0 auto;
   width: 50px;
   height: 50px;
   border: none;
   background: none;
   border-radius: 50%;
   background-color: rgba(252, 132, 45, 1);
   box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
   color: #ffffff;
   font-size: 30px;
   cursor: pointer;
   margin-bottom: 60px;
}

@media (min-width: 768px) {
   .button {
      position: absolute;
      top: 271px;
      left: 515px;
   }
}
@media (min-width: 1280px) {
   .button {
      position: absolute;
      top: 381px;
      left: 565px;
   }
}
