.nav,
.navBar {
   display: flex;
   flex-direction: row;
}

.nav {
   justify-content: flex-start;
   align-items: center;
}
.navBar {
   justify-content: flex-end;
   align-items: baseline;
}

@media screen and (max-width: 767.9px) {
}

/*table*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .nav {
      justify-content: flex-start;
      align-items: center;
   }
   .navBar {
      justify-content: flex-end;
      align-items: baseline;
   }
}

/*desktop*/
@media screen and (min-width: 1024.1px) {
   .nav {
      justify-content: flex-start;
      align-items: flex-end;
      width: 465px;
   }
   .navBar {
      justify-content: flex-start;
      align-items: baseline;
   }
}
