.item {
   display: flex;
   justify-content: flex-end;
   align-items: center;

   width: 100%;
}
.name,
.button {
   font-family: Gotham Pro;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   letter-spacing: 0.04em;
}
.button,
.button:focus,
.button:active {
   color: #9b9faa;
   border: none;
   background: none;
   outline: none;
   padding-left: 21.59px;
   cursor: pointer;
   text-transform: uppercase;
}
.name {
   padding-right: 21.59px;
   border-right: 2px solid#e0e0e0;
   color: #212121;
   text-transform: capitalize;
}

@media screen and (max-width: 767.9px) {
   .item {
      height: 40px;
      padding-right: 0.8em;
      background: #eff1f3;
   }
   .name,
   .button {
      line-height: 2;
   }
}

/*table*/
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
   .item {
      justify-content: flex-end;
      align-items: center;
   }
}

/*desktop*/
@media screen and (min-width: 1280px) {
   .wrapper {
      display: flex;
      width: 100%;
   }
   .item {
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
   }
   .button {
      margin-right: 10%;
   }
}
