.container {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   width: 100vw;
}

@media screen and (min-width: 1024.1px) {
   .container {
      padding-left: 92px;
      justify-content: start;
   }
}
